/Ficha03/Ex07/nbproject/private/
/Ficha03/Ex07/build/
/Ficha03/Ex08/nbproject/private/
/Ficha03/Ex08/build/
/Ficha03/PP_FP04/nbproject/private/
/Ficha03/PP_FP04/build/
/Ficha03/Ex04/nbproject/private/
/Ficha03/Ex04/build/
/Ficha03/Ex04/dist/
/PP_FP05/Ex01/nbproject/private/
/PP_FP05/Ex01/build/
/PP_FP05/Ex02/nbproject/private/
/PP_FP05/Ex02/build/
/FP06/Ex01/nbproject/private/
/FP06/Ex01/build/
/FP_07/Ex01/nbproject/private/
/FP_07/Ex01/build/
/FP_07/Ex01/dist/
/FP_09/ficha9/nbproject/private/
/FP_09/ficha9/build/
/FP_10/Exerc01/nbproject/private/
/FP_10/Exerc01/build/
/FP_10/Exerc01/dist/
/FP_10B/Exerc05/nbproject/private/
/FP_10B/Exerc05/build/
/FP_10B/Exerc06/nbproject/private/
/FP_10B/Exerc06/build/
/FP_10B/Exerc06/dist/